/* 
   This CSS code defines styles for a container element with the class '.app-container'.
   It sets up a CSS Grid layout with a single column that occupies the entire available width.
   The column width is set to '1fr', meaning it will take up an equal fraction of the available space.
*/
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: url('https://images7.alphacoders.com/699/699379.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
}

@media (min-width: 768px) {
  .note-form input,
  .note-form textarea {
    width: 70%;
  }
}

.note-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.note-form input,
.note-form textarea {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 35vw;
  background-color: #e2e3e4;
}

.note-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.note-form button:hover {
  background-color: #0056b3;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.note-item {
  border: 1px solid #ccc;
  padding: 20px; /* Increase padding for more vertical space */
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  min-height: 200px; /* Set a minimum height for the note */
  background-color: #e2e3e4;
}

.note-item:hover {
  background-color: #f8f9fa;
}

.notes-header {
  position: absolute;
  right: 10px;
  top: 10px;
}

.notes-header button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
  cursor: pointer;
}

.notes-header button:hover {
  background-color: #1c30e6;
}

.program-title {
  text-align: left;
  margin-bottom: 20px; /* Adjust margin for spacing */
  color: #ffffff;
}